@charset "utf-8";
body
{
	background-color: color(230, 230, 230);
	font-size: medium;
	font-family: 'メイリオ'
}

h2
{
	font-size: 24pt;
	font-weight: normal;
}

h3
{
	font-size: 18pt;
	font-weight: lighter;
}

h4
{
	font-size: 14pt;
	font-weight: lighter;
}